.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

    .hero h1 {
        font-size: 4rem;
    }

    .hero h2 {
        color: #a78bfa;
    }

    .hero p {
        max-width: 600px;
        margin: 20px 0;
    }
