.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.3s;
}

    .project-card:hover {
        transform: translateY(-8px);
    }
